/nbproject/private/
/DMC2001.out
/DMCtest.out
/DMC2028.out
/DMC_2_10ts
/DMC9.dat
/DMC_var4.dat
/DMC_3.dat
/DMC4.dat
/DMC.ini
/DMC7.dat
/DMC5.dat
/DMC210.out
/DMC_2_10
/DMC3.dat
/DMC610.out
/DMC_var.dat
/DMC6.dat
/DMC_2.dat
/DMC_var3.dat
/DMC8.dat
/DMC210out
/DMC210ts.out
/DMC_test
/DMC610out
/DMC2.dat
/DMC_var2.dat